/* header.css */
header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* z-index: 999; */
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  nav p, nav button {
    margin: 0;
    font-size: 14px;
  }
  nav a, nav button {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
  }
  main {
    padding-top: 5vh; /* headerの高さに合わせて調整 */
    background-color: #c2eeff;
  }
  