img {
  width: 200px;
  height: 200px;
}

* {
  background-color: #c2eeff;
}

.sign-in-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 1.5rem;
}

h1 {
  font-size: 44px;
}

h3 {
  font-size: 20px;
  margin: 0, auto;
  padding-top: 0px;
}

.btn {
  display: block;
  margin: 16px auto;
  font-size: 12px;
  width: 130px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #4d94e6;
  box-shadow: 0px 2px 0px #5a649e;
  transition: 0.3s;
  border-radius: 6px;
}
.btn:hover {
  box-shadow: unset;
  transform: translateY(2px);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 16px;
  font-size: 20px;
}

p {
  margin-top: 8px;
  font-size: 12px;
  display: flex;
}

label {
  margin-right: 16px;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

.sign-in-form a {
  margin-top: 8px;
  font-size: 12px;
  display: flex;
  justify-content: left;
  position: relative; /* または absolute も選択肢 */
  left: 75%; /* 左から75%の位置に移動 */
  text-decoration: underline;
}
